<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>房屋租赁系统</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<script type="text/javascript" src="/js/libs/modernizr.min.js"></script>
		<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="/js/jquery-ui-datepicker.js"></script>
		<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/jquery-ui.css" />
		<style type="text/css">
			.sum {
				float: right;
			}

		</style>
		<script type="text/javascript">
            $().ready(function () {
                // 在键盘按下并释放及提交后验证提交表单
                $("#fromdate").datepicker();
                $("#todate").datepicker();
            });

		</script>

	</head>
	<body>
		<div id="toPaid" v-cloak>
			<common>

				<div class="result-title">
					<h1>租客未缴列表</h1>
				</div>
				<form name="myform">


					<div class="result-title">
						<div class="result-list">


						</div>
					</div>

					<div class="result-content">
						<table id=grid
						       class="result-tab" width="100%">
							<tbody>
								<tr style="FONT-WEIGHT: bold; FONT-STYLE: normal; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none">
									<td>房屋id</td>
									<td>地址</td>

									<td>应缴租金</td>
									<td>租金应缴日期</td>

									<td>租客姓名</td>

									<td>状态</td>


								</tr>

								<tr v-for="item in toPaidList" :key="item.id" style="FONT-WEIGHT: normal; FONT-STYLE: normal; BACKGROUND-COLOR: white; TEXT-DECORATION: none">
									<td>{{item.houseId}}</td>

									<td>{{item.address}}</td>

									<td>{{item.price}}</td>
									<td>{{item.date}}</td>

									<td>{{item.name}}</td>
									<td>{{item.status}}</td>


								</tr>


							</tbody>
						</table>
					</div>


					<tr>
					<tr>

						<span id=pagelink>
							<div style="LINE-HEIGHT: 20px; HEIGHT: 20px; TEXT-ALIGN: right; margin-top:10px">
								共[<B>{{totalCount}}</B>]条记录，共[<B>{{parseInt(totalCount / page.num) + 1}}</B>]页
								,

								<span v-if="page.pageNum > 1">
									[
									<A href="javascript:void(0)" @click="getHouses(true)">前一页</A>
									]
								</span>
								第<B>{{page.pageNum}}</B>页

								<span v-if="page.pageNum < parseInt(totalCount/page.num)+ 1" @click="getHouses(false)">
									[
									<A href="javascript:void(0)">后一页</A>
									]
								</span>


							</div>
						</span>

					</tr>
					</tbody>


					</tbody>

				</form>
			</common>

		</div>
		<script language=javascript>
            // 提交分页的查询的表单
            function to_page(page) {
                if (page) {
                    $("#page").val(page);
                }
                document.myform.submit();
            }
		</script>
		<script type="text/javascript" src="/js/libs/dream-msg.min.js"></script>
		<script type="text/javascript" src="/js/vue.js"></script>
		<script type="text/javascript" src="/js/localization/messages_zh.js"></script>
		<script type="text/javascript" src="/js/axios.min.js"></script>
		<script type="text/javascript" src="/js/vue-main.js?type=toPaid"></script>
	</body>
</html>
