<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>房屋租赁系统</title>
		<link rel="stylesheet" type="text/css" href="/css/common.css" />
		<link rel="stylesheet" type="text/css" href="/css/main.css" />
		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/libs/modernizr.min.js"></script>
		</script>
		<style type="text/css">


		</style>

	</head>
	<body>
		<div id="myCheckout" v-cloak>
			<zuke-common>

				<div class="result-title">
					<h1>已退租列表</h1>
				</div>

				<div>
					<form id="houseForm" name="houseForm">
						<div class="result-title">
							<div class="result-list">
							</div>
						</div>

						<div class="result-content">
							<table id=grid
							       class="result-tab" width="100%">
								<tbody>
									<tr style="FONT-WEIGHT: bold; FONT-STYLE: normal; BACKGROUND-COLOR: #eeeeee; TEXT-DECORATION: none">
										<td>退租人</td>
										<td>退租人身份证号</td>
										<td>退租人联系电话</td>
										<td>房屋id</td>
										<td>地址</td>
										<td>状态</td>
										<td>操作</td>


									</tr>
									<tr v-for="item in checkoutList" :key="item.id" style="FONT-WEIGHT: normal; FONT-STYLE: normal; BACKGROUND-COLOR: white; TEXT-DECORATION: none">
										<td>{{item.name}}</td>

										<td>{{item.idCard}}</td>


										<td>{{item.phone}}</td>

										<td>{{item.houseId}}</td>
										<td>{{item.address}}</td>
										<td>{{item.status}}</td>
										<td>

											<a class="link-del"
											   href="javascript:void(0)"
											   @click="deleteCheckout(item.id)">删除
											</a>
										</td>


										</td>


									</tr>


								</tbody>
							</table>
						</div>


						<tr>
						<tr>
							<span id=pagelink>
								<div style="LINE-HEIGHT: 20px; HEIGHT: 20px; TEXT-ALIGN: right; margin-top:10px">
									共[<B>{{totalCount}}</B>]条记录，共[<B>{{parseInt(totalCount / page.num) + 1}}</B>]页
									,

									<span v-if="page.pageNum > 1">
										[
										<A href="javascript:void(0)" @click="getHouses(true)">前一页</A>
										]
									</span>
									第<B>{{page.pageNum}}</B>页

									<span v-if="page.pageNum < parseInt(totalCount/page.num)+ 1" @click="getHouses(false)">
										[
										<A href="javascript:void(0)">后一页</A>
										]
									</span>


								</div>
							</span>

						</tr>
						</tbody>


						</tbody>


					</form>
				</div>
			</zuke-common>
		</div>
		<script language=javascript>
            // 提交分页的查询的表单
            function to_page(page) {
                if (page) {
                    $("#page").val(page);
                }
                document.houseForm.submit();
            }
		</script>
		<script type="text/javascript" src="/js/libs/dream-msg.min.js"></script>
		<script type="text/javascript" src="/js/vue.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/localization/messages_zh.js"></script>
		<script type="text/javascript" src="/js/axios.min.js"></script>
		<script type="text/javascript" src="/js/vue-main.js?type=myCheckout"></script>
	</body>
</html>
