<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<title>房屋租赁系统</title>
		<link rel="stylesheet" type="text/css" href="/css/styles.css">
	</head>
	<body>

		<div id="wrapper" class="wrapper">
			<div class="container" @submit.prevent="login">
				<h1>房屋租赁系统</h1>
				<form class="form" id="login">
					<div><input type="text" v-model="username" name="username" placeholder="用户名"></div>
					<div><input type="password" v-model="password" name="password" placeholder="密码"></div>
					<div>
						<label class="radio inline">
							<input id="admin" type="radio"  name="type" value="admin" checked v-model="type"/> 管理员
						</label>
						<label class="radio inline">
							<input id="zuke" type="radio" v-model="type" name="type" value="zuke" /> 租客
						</label>
					</div>
					<button type="submit" id="login-button">登录</button>
				</form>
			</div>
			<ul class="bg-bubbles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>

		</div>

		<script type="text/javascript" src="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/js/libs/dream-msg.min.js"></script>
		<script type="text/javascript" src="/js/jquery.validate.min.js"></script>
		<script type="text/javascript" src="/js/vue.js"></script>
		<script type="text/javascript" src="/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/js/localization/messages_zh.js"></script>
		<script type="text/javascript" src="/js/axios.min.js"></script>
		<script type="text/javascript" src="/js/vue-main.js?type=login"></script>

		<script type="text/javascript">


            $().ready(function () {

                // $("#test").on("click", function(){
                //     $.ajax({
                //         url: "http://localhost/test",
                //         xhrFields: {
                //             withCredentials: true
                //         },
                //         crossDomain: true,
                //         success: function (data) {
                //             console.log(data)
                //         }
                //     })
                // })
                //
                // $("#login").on("submit",function (e){
                //     let serializeArray = $(this).serializeArray();
                //     let obj = {}
                //     serializeArray.forEach(function (item){
                //         obj[item.name] = item.value;
                //     })
                //     $.ajax({
                //         url:"http://localhost/login",
                //         data:obj,
                //         type:'post',
                //         xhrFields: {
                //             withCredentials: true
                //         },
                //         crossDomain: true,
                //         success:function (data) {
                //             console.log(data)
                //         }
                //     })
                //     return false;
                // })

                // 在键盘按下并释放及提交后验证提交表单
                $("#login").validate({
                    /*success:function(){
					 //label.text('').addClass('valid');
					$('#login-button').click(function(event){
					event.preventDefault();
					$('form').fadeOut(500);
					$('.wrapper').addClass('form-success');

				});

				},*/
                    rules: {
                        username: {
                            required: true,
                        },

                        password: {
                            required: true,

                        },

                    },
                    messages: {
                        username: {
                            required: "请输入用户名",
                        },

                        password: {
                            required: "请输入密码",

                        },

                    }
                });
            })


		</script>

	</body>
</html>
